.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    border-bottom: 2px solid #bbb;
    padding: 10px 7%;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .nav-link {
    text-decoration: none;
    color: black;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .nav-link.active,
  .nav-link:hover {
    background-color: #3385ff;
    color: white;
  }
  
  .nav-buttons {
    display: flex;
    gap: 15px;
  }
  