.hover-link {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    /* transition: background-color 0.3s ease-in-out; */
  }
  
.hover-link:hover {
    background-color: #c7c7c7;
}
.small-nav{
  display: flex;
  justify-content: space-between;
  position:sticky;
  top:20px;
  z-index: 2;
}